@use '../mixins/helpers';
@use 'responsive';

$responsive-grid: (
  tablet: (
    cols: 8,
    margin-h: var(--margin-4),
    gap: var(--gap-3),
  ),
  desktop-small: (
    cols: 12,
    margin-h: var(--margin-8),
    gap: var(--gap-4),
  ),
  desktop-medium: (
    cols: 12,
    margin-h: var(--margin-10),
    gap: var(--gap-4),
  ),
  desktop-large: (
    cols: 12,
    margin-h: auto,
    gap: var(--gap-4),
  ),
);

@mixin generate-responsive-grid($responsive-grid) {
  @each $breakpoint, $settings in $responsive-grid {
    @include responsive.media-exceeds-width($breakpoint) {
      @each $property, $value in $settings {
        --#{$property}: #{$value};
      }
    }
  }
}

@mixin generate-col-classes($start, $end, $breakpoint: '') {
  @for $i from $start through $end {
    $class: 'col-';
    @if ($breakpoint != '') {
      $class: '#{$class}#{$breakpoint}-';
    }
    .#{$class}#{$i} {
      --cols: #{$i};
    }
  }
}

@mixin generate-responsive-col-classes($breakpoint, $start, $end) {
  @include responsive.media-exceeds-width($breakpoint) {
    @include generate-col-classes($start, $end);
    @include generate-col-classes($start, $end, $breakpoint);
  }
}

@mixin generate-start-classes($start, $end) {
  @for $i from $start through $end {
    $class: 'col-start-';
    .#{$class}#{$i} {
      --start: #{$i};
    }
  }
}

@mixin generate-responsive-start-classes($breakpoint, $start, $end) {
  @include responsive.media-exceeds-width($breakpoint) {
    @include generate-start-classes($start, $end);
  }
}

.grid {
  --cols: 4;
  --start: auto;
  --margin-h: var(--margin-2);
  --gap: var(--gap-2);

  display: grid;
  max-width: helpers.px-to-rem(1440);
  margin-inline: var(--margin-h);
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: var(--gap);

  @include generate-responsive-grid($responsive-grid);

  & > * {
    --start: auto;
    --cols: 1;
    --margin-h: 0;

    grid-template-columns: subgrid;
    grid-column: var(--start) / span var(--cols);
  }

  @include generate-responsive-col-classes(mobile, 1, 4);
  @include generate-responsive-col-classes(tablet, 1, 8);
  @include generate-responsive-col-classes(desktop-small, 1, 12);
  @include generate-responsive-col-classes(desktop-medium, 1, 12);
  @include generate-responsive-col-classes(desktop-large, 1, 12);

  @include generate-responsive-start-classes(mobile, 1, 4);
  @include generate-responsive-start-classes(tablet, 5, 8);
  @include generate-responsive-start-classes(desktop-small, 9, 12);
}
