@use "../mixins/helpers";
@use "../mixins/spacing";
@use "responsive";

$responsiveGrid: (
  tablet: (
    cols: 8,
    margin-h: spacing.getMarginHorizontal(4),
    gap: spacing.getGap(4),
  ),
  desktop-small: (
    cols: 12,
    margin-h: var(--margin-8),
    gap: spacing.getGap(4),
  ),
  desktop-medium: (
    cols: 12,
    margin-h: var(--margin-10),
    gap: spacing.getGap(4),
  ),
  desktop-large: (
    cols: 12,
    margin-h: auto,
    gap: spacing.getGap(4),
  ),
);

@mixin generateResponsiveGrid($responsiveGrid) {
  @each $breakpoint, $settings in $responsiveGrid {
    @include responsive.mediaExceedsWidth($breakpoint) {
      @each $property, $value in $settings {
        --#{$property}: #{$value};
      }
    }
  }
}

@mixin generateGridItemClasses() {
  @each $breakpoint, $value in responsive.$breakpoints {
    @include responsive.mediaExceedsWidth($breakpoint) {
      [class*="grid-item"] {
        grid-column: var(--start-#{$breakpoint}, var(--start)) / span var(--col-#{$breakpoint}, var(--col, var(--cols)));
      }
    }
  }
}

.grid {
  --cols: 4;
  --start: auto;

  @include spacing.initMarginHorizontal("margin-h", 2);
  @include spacing.initGap("gap", 2);

  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  max-width: helpers.pxToRem(1440);

  @include generateResponsiveGrid($responsiveGrid);

  & > * {
    --start: auto;
    --cols: 1;
    --margin-h: spacing.getMarginHorizontal(0);

    grid-template-columns: subgrid;
    grid-column: var(--start) / span var(--cols);
  }

  @include generateGridItemClasses;
}
