.demo-button {
  display: inline-block;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.demo-button--primary {
  color: white;
  background-color: #1ea7fd;
}

.demo-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgb(0 0 0 / 15%) 0 0 0 1px inset;
}

.demo-button--small {
  padding: 10px 16px;
  font-size: 12px;
}

.demo-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}

.demo-button--large {
  padding: 12px 24px;
  font-size: 16px;
}
