@forward "../variables/typography";
@forward "../variables/dimension";
@forward "../variables/border";
@forward "../themes/light";
@forward "../themes/dark";

@use "../mixins/typography";

@import "@fontsource/nunito/400.css"; /* regular */
@import "@fontsource/nunito/700.css"; /* bold */

.alert {
  --alert-color: var(--color-signal-info-foreground);
  --alert-background-color: var(--color-signal-info-background);
  --alert-padding: var(--padding-2);
  --alert-border-radius: var(--border-radius-large);
  --alert-gap: var(--gap-2);

  all: unset;
  display: grid;
  grid-template-areas:
    "icon title close"
    "null message message";
  grid-template-columns: auto 1fr auto;
  column-gap: var(--alert-gap);
  align-items: center;
  padding: var(--alert-padding);
  color: var(--alert-color);
  background-color: var(--alert-background-color);
  border: 2px solid var(--alert-color);
  border-radius: var(--alert-border-radius);

  &:has(> .alert__message) {
    row-gap: var(--alert-gap);
  }

  &__icon {
    grid-area: icon;
    margin: 0;
    fill: var(--alert-color);
  }

  &__title {
    grid-area: title;
    margin: 0;

    @include typography.text(large, true);
  }

  &__close-button {
    grid-area: close;
    padding: 0;
    margin: 0;

    & > svg {
      fill: var(--alert-color);
    }
  }

  &__message {
    grid-area: message;
    margin: 0;

    @include typography.text(medium);
  }

  &--warning {
    --alert-color: var(--color-signal-warning-foreground);
    --alert-background-color: var(--color-signal-warning-background);
  }

  &--error {
    --alert-color: var(--color-signal-critical-foreground);
    --alert-background-color: var(--color-signal-critical-background);
  }

  &--success {
    --alert-color: var(--color-signal-success-foreground);
    --alert-background-color: var(--color-signal-success-background);
  }
}
