@forward '../base/label';
@forward '../variables/dimension';

.checkbox-group {
  all: unset;
  display: grid;
  grid-template-areas:
    'legend'
    'input-options';
  align-items: center;
  gap: 6px;

  &:has(.helper-text) {
    grid-template-areas:
      'legend'
      'input-options'
      'helper-text';
  }

  & .checkbox-field .label span[aria-hidden='true'] {
    display: none;
  }

  &__legend {
    @extend %label;

    grid-area: legend;
  }

  &__options {
    display: flex;
    grid-area: input-options;
    gap: 6px;

    &--stacked {
      flex-direction: column;
    }
  }

  & .helper-text {
    grid-area: helper-text;
  }

  &--inline {
    grid-template-areas: 'legend input-options';

    &:has(.helper-text) {
      grid-template-areas:
        'legend input-options'
        'empty helper-text';
    }

    & .checkbox-group__legend {
      min-width: 100px;
    }

    &:has(.checkbox-group__options--stacked) {
      .checkbox-group__legend {
        align-self: flex-start;
      }
    }
  }
}
