@forward "../base/label";
@forward "../variables/dimension";

@use "../mixins/helpers";

.radio-group {
  all: unset;
  display: grid;
  grid-template-areas:
    "legend"
    "input-options";
  gap: helpers.pxToRem(6);
  align-items: center;

  &:has(.helper-text) {
    grid-template-areas:
      "legend"
      "input-options"
      "helper-text";
  }

  &__legend {
    @extend %label;

    grid-area: legend;
  }

  &__options {
    display: flex;
    grid-area: input-options;
    gap: helpers.pxToRem(6);

    &--stacked {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  & .helper-text {
    grid-area: helper-text;
  }

  &--inline {
    grid-template-areas: "legend input-options";

    &:has(.helper-text) {
      grid-template-areas:
        "legend input-options"
        "empty helper-text";
    }

    & .radio-group__legend {
      min-width: helpers.pxToRem(100);
    }

    &:has(.radio-group__options--stacked) {
      .radio-group__legend {
        align-self: flex-start;
      }
    }
  }
}
