@forward '../variables/dimension';

.radio-option {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-1);
  cursor: pointer;

  &:has(.radio-input:disabled) {
    cursor: not-allowed;
  }
}
