.radio-option {
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &--right {
    flex-direction: row-reverse;
  }

  &--top {
    flex-direction: column;
  }

  &--bottom {
    flex-direction: column-reverse;
  }
}
