@use "../mixins/helpers";

:root {
  --border-radius-none: #{helpers.pxToRem(0 * 8)};
  --border-radius-small: #{helpers.pxToRem(0.5 * 8)};
  --border-radius-medium: #{helpers.pxToRem(1 * 8)};
  --border-radius-large: #{helpers.pxToRem(2 * 8)};
  --border-radius-circle: 50%;
}
