/* blue */
$colorBlue50: hsl(226deg 63% 95%); /* #E9EDFA */
$colorBlue100: hsl(225deg 64% 89%); /* #D2DBF5 */
$colorBlue150: hsl(225deg 65% 84%); /* #BCC9F1 */
$colorBlue200: hsl(225deg 65% 79%); /* #A6B7EC */
$colorBlue250: hsl(225deg 64% 74%); /* #90A6E7 */
$colorBlue300: hsl(225deg 64% 68%); /* #7994E2 */
$colorBlue350: hsl(225deg 64% 63%); /* #6382DD */
$colorBlue400: hsl(225deg 65% 58%); /* #4D70D9 */
$colorBlue450: hsl(225deg 65% 52%); /* #365ED4 */
$colorBlue500: hsl(225deg 73% 47%); /* #204CCF */
$colorBlue550: hsl(225deg 73% 42%); /* #1D44BA */
$colorBlue600: hsl(225deg 73% 38%); /* #1A3DA6 */
$colorBlue650: hsl(225deg 74% 33%); /* #163591 */
$colorBlue700: hsl(225deg 73% 28%); /* #132E7C */
$colorBlue750: hsl(225deg 73% 24%); /* #102668 */
$colorBlue800: hsl(225deg 73% 19%); /* #0D1E53 */
$colorBlue850: hsl(225deg 72% 14%); /* #0A173E */
$colorBlue900: hsl(225deg 74% 9%); /* #060F29 */
$colorBlue950: hsl(223deg 75% 5%); /* #030815 */
$colorBlueA10: hsl(225deg 73% 47% / 10%); /* #204CCF1A */
$colorBlueA20: hsl(225deg 73% 47% / 20%); /* #204CCF33 */
$colorBlueA30: hsl(225deg 73% 47% / 30%); /* #204CCF4D */
$colorBlueA40: hsl(225deg 73% 47% / 40%); /* #204CCF66 */
$colorBlueA50: hsl(225deg 73% 47% / 50%); /* #204CCF80 */
$colorBlueA60: hsl(225deg 73% 47% / 60%); /* #204CCF99 */
$colorBlueA70: hsl(225deg 73% 47% / 70%); /* #204CCFB3 */
$colorBlueA80: hsl(225deg 73% 47% / 80%); /* #204CCFCC */
$colorBlueA90: hsl(225deg 73% 47% / 90%); /* #204CCFE6 */

/* purple */
$colorPurple50: hsl(263deg 48% 95%); /* #F0EBF8 */
$colorPurple100: hsl(262deg 47% 90%); /* #E1D8F1 */
$colorPurple150: hsl(261deg 46% 84%); /* #D1C4E9 */
$colorPurple200: hsl(262deg 46% 79%); /* #C2B0E2 */
$colorPurple250: hsl(261deg 46% 74%); /* #B39DDB */
$colorPurple300: hsl(262deg 47% 68%); /* #A489D4 */
$colorPurple350: hsl(262deg 47% 63%); /* #9575CD */
$colorPurple400: hsl(262deg 46% 58%); /* #8561C5 */
$colorPurple450: hsl(261deg 46% 53%); /* #764EBE */
$colorPurple500: hsl(262deg 52% 47%); /* #673AB7 */
$colorPurple550: hsl(262deg 52% 43%); /* #5D34A5 */
$colorPurple600: hsl(262deg 52% 38%); /* #522E92 */
$colorPurple650: hsl(261deg 51% 33%); /* #482980 */
$colorPurple700: hsl(262deg 52% 28%); /* #3E236E */
$colorPurple750: hsl(262deg 52% 24%); /* #341D5C */
$colorPurple800: hsl(262deg 52% 19%); /* #291749 */
$colorPurple850: hsl(262deg 53% 14%); /* #1F1137 */
$colorPurple900: hsl(262deg 51% 10%); /* #150C25 */
$colorPurple950: hsl(260deg 50% 5%); /* #0A0612 */
$colorPurpleA10: hsl(262deg 52% 47% / 10%); /* #673AB71A */
$colorPurpleA20: hsl(262deg 52% 47% / 20%); /* #673AB733 */
$colorPurpleA30: hsl(262deg 52% 47% / 30%); /* #673AB74D */
$colorPurpleA40: hsl(262deg 52% 47% / 40%); /* #673AB766 */
$colorPurpleA50: hsl(262deg 52% 47% / 50%); /* #673AB780 */
$colorPurpleA60: hsl(262deg 52% 47% / 60%); /* #673AB799 */
$colorPurpleA70: hsl(262deg 52% 47% / 70%); /* #673AB7B3 */
$colorPurpleA80: hsl(262deg 52% 47% / 80%); /* #673AB7CC */
$colorPurpleA90: hsl(262deg 52% 47% / 90%); /* #673AB7E6 */

/* cyan */
$colorCyan50: hsl(187deg 59% 94%); /* #E8F7F9 */
$colorCyan100: hsl(189deg 59% 89%); /* #D1EEF3 */
$colorCyan150: hsl(188deg 59% 83%); /* #BAE6ED */
$colorCyan200: hsl(188deg 59% 77%); /* #A3DEE7 */
$colorCyan250: hsl(188deg 59% 72%); /* #8CD6E1 */
$colorCyan300: hsl(188deg 59% 66%); /* #74CDDB */
$colorCyan350: hsl(188deg 59% 60%); /* #5DC5D5 */
$colorCyan400: hsl(188deg 59% 54%); /* #46BDCF */
$colorCyan450: hsl(188deg 62% 49%); /* #2FB4C9 */
$colorCyan500: hsl(188deg 78% 43%); /* #18ACC3 */
$colorCyan550: hsl(188deg 78% 39%); /* #169BB0 */
$colorCyan600: hsl(188deg 78% 34%); /* #138A9C */
$colorCyan650: hsl(189deg 78% 30%); /* #117889 */
$colorCyan700: hsl(188deg 79% 26%); /* #0E6775 */
$colorCyan750: hsl(188deg 78% 22%); /* #0C5662 */
$colorCyan800: hsl(188deg 77% 17%); /* #0A454E */
$colorCyan850: hsl(187deg 78% 13%); /* #07343A */
$colorCyan900: hsl(189deg 77% 9%); /* #052227 */
$colorCyan950: hsl(187deg 81% 4%); /* #021113 */
$colorCyanA10: hsl(188deg 78% 43% / 10%); /* #18ACC31A */
$colorCyanA20: hsl(188deg 78% 43% / 20%); /* #18ACC333 */
$colorCyanA30: hsl(188deg 78% 43% / 30%); /* #18ACC34D */
$colorCyanA40: hsl(188deg 78% 43% / 40%); /* #18ACC366 */
$colorCyanA50: hsl(188deg 78% 43% / 50%); /* #18ACC380 */
$colorCyanA60: hsl(188deg 78% 43% / 60%); /* #18ACC399 */
$colorCyanA70: hsl(188deg 78% 43% / 70%); /* #18ACC3B3 */
$colorCyanA80: hsl(188deg 78% 43% / 80%); /* #18ACC3CC */
$colorCyanA90: hsl(188deg 78% 43% / 90%); /* #18ACC3E6 */

/* green */
$colorGreen50: hsl(133deg 50% 95%); /* #EAF8ED */
$colorGreen100: hsl(133deg 47% 89%); /* #D5F0DB */
$colorGreen150: hsl(133deg 48% 83%); /* #C0E9C9 */
$colorGreen200: hsl(133deg 47% 78%); /* #ABE1B7 */
$colorGreen250: hsl(134deg 48% 72%); /* #96DAA6 */
$colorGreen300: hsl(134deg 49% 66%); /* #80D394 */
$colorGreen350: hsl(134deg 48% 61%); /* #6BCB82 */
$colorGreen400: hsl(134deg 48% 55%); /* #56C470 */
$colorGreen450: hsl(134deg 49% 50%); /* #41BC5E */
$colorGreen500: hsl(134deg 61% 44%); /* #2CB54C */
$colorGreen550: hsl(134deg 61% 40%); /* #28A344 */
$colorGreen600: hsl(134deg 61% 35%); /* #23913D */
$colorGreen650: hsl(134deg 61% 31%); /* #1F7F35 */
$colorGreen700: hsl(134deg 61% 26%); /* #1A6D2E */
$colorGreen750: hsl(134deg 61% 22%); /* #165B26 */
$colorGreen800: hsl(133deg 60% 18%); /* #12481E */
$colorGreen850: hsl(135deg 61% 13%); /* #0D3617 */
$colorGreen900: hsl(133deg 60% 9%); /* #09240F */
$colorGreen950: hsl(137deg 64% 4%); /* #041208 */
$colorGreenA10: hsl(134deg 61% 40% / 10%); /* #28A3441A */
$colorGreenA20: hsl(134deg 61% 40% / 20%); /* #28A34433 */
$colorGreenA30: hsl(134deg 61% 40% / 30%); /* #28A3444D */
$colorGreenA40: hsl(134deg 61% 40% / 40%); /* #28A34466 */
$colorGreenA50: hsl(134deg 61% 40% / 50%); /* #28A34480 */
$colorGreenA60: hsl(134deg 61% 40% / 60%); /* #28A34499 */
$colorGreenA70: hsl(134deg 61% 40% / 70%); /* #28A344B3 */
$colorGreenA80: hsl(134deg 61% 40% / 80%); /* #28A344CC */
$colorGreenA90: hsl(134deg 61% 40% / 90%); /* #28A344E6 */

/* orange */
$colorOrange50: hsl(46deg 100% 95%); /* #FFF9E6 */
$colorOrange100: hsl(46deg 100% 90%); /* #FFF3CD */
$colorOrange150: hsl(45deg 100% 85%); /* #FFECB5 */
$colorOrange200: hsl(45deg 100% 81%); /* #FFE69C */
$colorOrange250: hsl(45deg 100% 76%); /* #FFE083 */
$colorOrange300: hsl(45deg 100% 71%); /* #FFDA6A */
$colorOrange350: hsl(45deg 100% 66%); /* #FFD451 */
$colorOrange400: hsl(45deg 100% 61%); /* #FFCD39 */
$colorOrange450: hsl(45deg 100% 56%); /* #FFC720 */
$colorOrange500: hsl(45deg 100% 51%); /* #FFC107 */
$colorOrange550: hsl(45deg 95% 46%); /* #E6AE06 */
$colorOrange600: hsl(45deg 94% 41%); /* #CC9A06 */
$colorOrange650: hsl(45deg 95% 36%); /* #B38705 */
$colorOrange700: hsl(45deg 95% 31%); /* #997404 */
$colorOrange750: hsl(45deg 94% 26%); /* #806104 */
$colorOrange800: hsl(45deg 94% 21%); /* #664D03 */
$colorOrange850: hsl(45deg 95% 15%); /* #4C3A02 */
$colorOrange900: hsl(46deg 96% 10%); /* #332701 */
$colorOrange950: hsl(45deg 92% 5%); /* #191301 */
$colorOrangeA10: hsl(45deg 100% 51% / 10%); /* #FFC1071A */
$colorOrangeA20: hsl(45deg 100% 51% / 20%); /* #FFC10733 */
$colorOrangeA30: hsl(45deg 100% 51% / 30%); /* #FFC1074D */
$colorOrangeA40: hsl(45deg 100% 51% / 40%); /* #FFC10766 */
$colorOrangeA50: hsl(45deg 100% 51% / 50%); /* #FFC10780 */
$colorOrangeA60: hsl(45deg 100% 51% / 60%); /* #FFC10799 */
$colorOrangeA70: hsl(45deg 100% 51% / 70%); /* #FFC107B3 */
$colorOrangeA80: hsl(45deg 100% 51% / 80%); /* #FFC107CC */
$colorOrangeA90: hsl(45deg 100% 51% / 90%); /* #FFC107E6 */

/* red */
$colorRed50: hsl(0deg 52% 94%); /* #F7E6E6 */
$colorRed100: hsl(0deg 55% 87%); /* #F0CCCC */
$colorRed150: hsl(0deg 54% 81%); /* #E8B3B3 */
$colorRed200: hsl(0deg 55% 74%); /* #E19999 */
$colorRed250: hsl(0deg 54% 68%); /* #D98080 */
$colorRed300: hsl(0deg 54% 61%); /* #D16666 */
$colorRed350: hsl(0deg 54% 55%); /* #CA4D4D */
$colorRed400: hsl(0deg 58% 48%); /* #C23333 */
$colorRed450: hsl(0deg 76% 42%); /* #BB1A1A */
$colorRed500: hsl(0deg 100% 35%); /* #B30000 */
$colorRed550: hsl(0deg 100% 32%); /* #A10000 */
$colorRed600: hsl(0deg 100% 28%); /* #8F0000 */
$colorRed650: hsl(0deg 100% 25%); /* #7D0000 */
$colorRed700: hsl(0deg 100% 21%); /* #6B0000 */
$colorRed750: hsl(0deg 100% 18%); /* #5A0000 */
$colorRed800: hsl(0deg 100% 14%); /* #480000 */
$colorRed850: hsl(0deg 100% 11%); /* #360000 */
$colorRed900: hsl(0deg 100% 7%); /* #240000 */
$colorRed950: hsl(0deg 100% 4%); /* #120000 */
$colorRedA10: hsl(0deg 100% 35% / 10%); /* #B300001A */
$colorRedA20: hsl(0deg 100% 35% / 20%); /* #B3000033 */
$colorRedA30: hsl(0deg 100% 35% / 30%); /* #B300004D */
$colorRedA40: hsl(0deg 100% 35% / 40%); /* #B3000066 */
$colorRedA50: hsl(0deg 100% 35% / 50%); /* #B3000080 */
$colorRedA60: hsl(0deg 100% 35% / 60%); /* #B3000099 */
$colorRedA70: hsl(0deg 100% 35% / 70%); /* #B30000B3 */
$colorRedA80: hsl(0deg 100% 35% / 80%); /* #B30000CC */
$colorRedA90: hsl(0deg 100% 35% / 90%); /* #B30000E6 */

/* neutral */
$colorNeutral00: hsl(0deg 0% 100%); /* #FFFFFF */
$colorNeutral50: hsl(0deg 0% 95%); /* #F3F3F3 */
$colorNeutral100: hsl(0deg 0% 91%); /* #E7E7E7 */
$colorNeutral150: hsl(0deg 0% 86%); /* #DBDBDB */
$colorNeutral200: hsl(0deg 0% 81%); /* #CFCFCF */
$colorNeutral250: hsl(0deg 0% 77%); /* #C4C4C4 */
$colorNeutral300: hsl(0deg 0% 72%); /* #B8B8B8 */
$colorNeutral350: hsl(0deg 0% 67%); /* #ACACAC */
$colorNeutral400: hsl(0deg 0% 63%); /* #A0A0A0 */
$colorNeutral450: hsl(0deg 0% 58%); /* #949494 */
$colorNeutral500: hsl(0deg 0% 53%); /* #888888 */
$colorNeutral550: hsl(0deg 0% 48%); /* #7A7A7A */
$colorNeutral600: hsl(0deg 0% 43%); /* #6D6D6D */
$colorNeutral650: hsl(0deg 0% 37%); /* #5F5F5F */
$colorNeutral700: hsl(0deg 0% 32%); /* #525252 */
$colorNeutral750: hsl(0deg 0% 27%); /* #444444 */
$colorNeutral800: hsl(0deg 0% 21%); /* #363636 */
$colorNeutral850: hsl(0deg 0% 16%); /* #292929 */
$colorNeutral900: hsl(0deg 0% 11%); /* #1B1B1B */
$colorNeutral950: hsl(0deg 0% 5%); /* #0E0E0E */
$colorNeutral1000: hsl(0deg 0% 0%); /* #000000 */
$colorNeutralA10: hsl(0deg 0% 53% / 10%); /* #8888881A */
$colorNeutralA20: hsl(0deg 0% 53% / 20%); /* #88888833 */
$colorNeutralA30: hsl(0deg 0% 53% / 30%); /* #8888884D */
$colorNeutralA40: hsl(0deg 0% 53% / 40%); /* #88888866 */
$colorNeutralA50: hsl(0deg 0% 53% / 50%); /* #88888880 */
$colorNeutralA60: hsl(0deg 0% 53% / 60%); /* #88888899 */
$colorNeutralA70: hsl(0deg 0% 53% / 70%); /* #888888B3 */
$colorNeutralA80: hsl(0deg 0% 53% / 80%); /* #888888CC */
$colorNeutralA90: hsl(0deg 0% 53% / 90%); /* #888888E6 */

/* gray */
$colorGray50: hsl(220deg 11% 95%); /* #F0F1F3 */
$colorGray100: hsl(228deg 9% 89%); /* #E1E2E6 */
$colorGray150: hsl(227deg 11% 84%); /* #D2D4DB */
$colorGray200: hsl(228deg 9% 79%); /* #C4C6CE */
$colorGray250: hsl(226deg 10% 74%); /* #B5B8C2 */
$colorGray300: hsl(222deg 10% 68%); /* #A5AAB6 */
$colorGray350: hsl(224deg 10% 63%); /* #969BA9 */
$colorGray400: hsl(224deg 10% 58%); /* #888E9E */
$colorGray450: hsl(225deg 10% 52%); /* #797F91 */
$colorGray500: hsl(224deg 10% 47%); /* #6C7283 */
$colorGray550: hsl(226deg 10% 42%); /* #616676 */
$colorGray600: hsl(225deg 10% 38%); /* #565B6A */
$colorGray650: hsl(226deg 10% 33%); /* #4B4F5C */
$colorGray700: hsl(224deg 10% 28%); /* #40444F */
$colorGray750: hsl(225deg 10% 24%); /* #363942 */
$colorGray800: hsl(222deg 10% 19%); /* #2B2E35 */
$colorGray850: hsl(225deg 11% 14%); /* #202228 */
$colorGray900: hsl(228deg 11% 9%); /* #15161A */
$colorGray950: hsl(240deg 8% 5%); /* #0B0B0D */
$colorGrayA10: hsl(224deg 10% 47% / 10%); /* #6C72831A */
$colorGrayA20: hsl(224deg 10% 47% / 20%); /* #6C728333 */
$colorGrayA30: hsl(224deg 10% 47% / 30%); /* #6C72834D */
$colorGrayA40: hsl(224deg 10% 47% / 40%); /* #6C728366 */
$colorGrayA50: hsl(224deg 10% 47% / 50%); /* #6C728380 */
$colorGrayA60: hsl(224deg 10% 47% / 60%); /* #6C728399 */
$colorGrayA70: hsl(224deg 10% 47% / 70%); /* #6C7283B3 */
$colorGrayA80: hsl(224deg 10% 47% / 80%); /* #6C7283CC */
$colorGrayA90: hsl(224deg 10% 47% / 90%); /* #6C7283E6 */
