@use "../mixins/helpers";

$primitiveDimensions: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15;
$primitiveAdditionalValue: 0, 2, 3;
$margins: $primitiveDimensions;
$paddings: helpers.splitList($primitiveDimensions, 5);
$gaps: $paddings;

@mixin generateDimensionVariables($name, $primitives, $additional-primitives: ()) {
  @each $value in $additional-primitives {
    --#{$name}-#{$value}-5: #{helpers.pxToRem(($value + 0.5) * 8)};
  }
  @each $value in $primitives {
    --#{$name}-#{$value}: #{helpers.pxToRem($value * 8)};
  }
}

:root {
  @include generateDimensionVariables("margin", $margins, $primitiveAdditionalValue);
  @include generateDimensionVariables("padding", $paddings, $primitiveAdditionalValue);
  @include generateDimensionVariables("gap", $gaps, $primitiveAdditionalValue);
}
