@use "../mixins/helpers";

:root {
  // Font families
  --font-family-display: "Raleway", sans-serif;
  --font-family-heading: "Raleway", sans-serif;
  --font-family-content: "Nunito", sans-serif;
  --font-family-label: "Oswald", sans-serif;
  --font-family-code: "JetBrains Mono", monospace;

  // Font sizes
  --font-size-10: #{helpers.pxToRem(10)};
  --font-size-12: #{helpers.pxToRem(12)};
  --font-size-14: #{helpers.pxToRem(14)};
  --font-size-16: #{helpers.pxToRem(16)};
  --font-size-18: #{helpers.pxToRem(18)};
  --font-size-20: #{helpers.pxToRem(20)};
  --font-size-24: #{helpers.pxToRem(24)};
  --font-size-30: #{helpers.pxToRem(30)};
  --font-size-36: #{helpers.pxToRem(36)};
  --font-size-48: #{helpers.pxToRem(48)};
  --font-size-60: #{helpers.pxToRem(60)};
  --font-size-80: #{helpers.pxToRem(80)};

  // Line heights
  --line-height-13: #{helpers.pxToRem(13)};
  --line-height-16: #{helpers.pxToRem(16)};
  --line-height-20: #{helpers.pxToRem(20)};
  --line-height-24: #{helpers.pxToRem(24)};
  --line-height-28: #{helpers.pxToRem(28)};
  --line-height-32: #{helpers.pxToRem(32)};
  --line-height-36: #{helpers.pxToRem(36)};
  --line-height-40: #{helpers.pxToRem(40)};
  --line-height-48: #{helpers.pxToRem(48)};
  --line-height-60: #{helpers.pxToRem(60)};
  --line-height-80: #{helpers.pxToRem(80)};

  // Font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  // Letter spacing
  --letter-spacing-default: 0;
  --letter-spacing-low: #{helpers.pxToRem(0.5)};
}
