@use "../variables/color";

@mixin darkTheme {
  /* primary */
  --color-primary-main-light: #{color.$colorBlue700};
  --color-primary-main-medium: #{color.$colorBlue650};
  --color-primary-main-strong: #{color.$colorBlue600};
  --color-primary-main-on: #{color.$colorBlue50};
  --color-primary-alt-base: #{color.$colorBlue200};
  --color-primary-alt-onbase: #{color.$colorBlue850};
  --color-primary-alt-onstrong: #{color.$colorBlue800};
  --color-primary-alt-onstronger: #{color.$colorBlue750};

  /* secondary */
  --color-secondary-main-light: #{color.$colorPurple650};
  --color-secondary-main-medium: #{color.$colorPurple600};
  --color-secondary-main-strong: #{color.$colorPurple550};
  --color-secondary-main-on: #{color.$colorPurple50};
  --color-secondary-alt-base: #{color.$colorPurple200};
  --color-secondary-alt-onbase: #{color.$colorPurple850};
  --color-secondary-alt-onstrong: #{color.$colorPurple800};
  --color-secondary-alt-onstronger: #{color.$colorPurple750};

  /* tertiary */
  --color-tertiary-main-light: #{color.$colorRed700};
  --color-tertiary-main-medium: #{color.$colorRed650};
  --color-tertiary-main-strong: #{color.$colorRed600};
  --color-tertiary-main-on: #{color.$colorRed50};
  --color-tertiary-alt-base: #{color.$colorRed200};
  --color-tertiary-alt-onbase: #{color.$colorRed900};
  --color-tertiary-alt-onstrong: #{color.$colorRed850};
  --color-tertiary-alt-onstronger: #{color.$colorRed800};

  /* signal */
  --color-signal-info-background: #{color.$colorCyan250};
  --color-signal-info-foreground: #{color.$colorCyan950};
  --color-signal-warning-background: #{color.$colorOrange250};
  --color-signal-warning-foreground: #{color.$colorOrange950};
  --color-signal-success-background: #{color.$colorGreen250};
  --color-signal-success-foreground: #{color.$colorGreen950};
  --color-signal-critical-background: #{color.$colorRed250};
  --color-signal-critical-foreground: #{color.$colorRed950};

  /* background */
  --color-background-body: #{color.$colorGray850};
  --color-background-surface: #{color.$colorGray800};
  --color-background-alt: #{color.$colorGray750};
  --color-background-overlay: #{color.$colorGrayA20};

  /* text */
  --color-text-primary: #{color.$colorGray50};
  --color-text-secondary: #{color.$colorGray200};
  --color-text-hint: #{color.$colorGray400};
  --color-text-disabled: #{color.$colorGray100};

  /* disabled */
  --color-disabled-foreground: #{color.$colorGray100};
  --color-disabled-background: #{color.$colorGray450};

  /* neutral */
  --color-neutral-light: #{color.$colorNeutral1000};
  --color-neutral-dark: #{color.$colorNeutral00};
}

.dark-theme {
  @include darkTheme;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include darkTheme;
  }
}
