@use "../variables/color";

:root,
.light-theme {
  /* primary */
  --color-primary-main-light: #{color.$colorBlue500};
  --color-primary-main-medium: #{color.$colorBlue650};
  --color-primary-main-strong: #{color.$colorBlue800};
  --color-primary-main-on: #{color.$colorNeutral00};
  --color-primary-alt-base: #{color.$colorBlue50};
  --color-primary-alt-onbase: #{color.$colorBlue600};
  --color-primary-alt-onstrong: #{color.$colorBlue700};
  --color-primary-alt-onstronger: #{color.$colorBlue800};

  /* secondary */
  --color-secondary-main-light: #{color.$colorPurple500};
  --color-secondary-main-medium: #{color.$colorPurple650};
  --color-secondary-main-strong: #{color.$colorPurple800};
  --color-secondary-main-on: #{color.$colorNeutral00};
  --color-secondary-alt-base: #{color.$colorPurple50};
  --color-secondary-alt-onbase: #{color.$colorPurple550};
  --color-secondary-alt-onstrong: #{color.$colorPurple650};
  --color-secondary-alt-onstronger: #{color.$colorPurple750};

  /* tertiary */
  --color-tertiary-main-light: #{color.$colorRed500};
  --color-tertiary-main-medium: #{color.$colorRed650};
  --color-tertiary-main-strong: #{color.$colorRed800};
  --color-tertiary-main-on: #{color.$colorNeutral00};
  --color-tertiary-alt-base: #{color.$colorRed50};
  --color-tertiary-alt-onbase: #{color.$colorRed600};
  --color-tertiary-alt-onstrong: #{color.$colorRed700};
  --color-tertiary-alt-onstronger: #{color.$colorRed800};

  /* signal */
  --color-signal-info-background: #{color.$colorCyan100};
  --color-signal-info-foreground: #{color.$colorCyan800};
  --color-signal-warning-background: #{color.$colorOrange100};
  --color-signal-warning-foreground: #{color.$colorOrange800};
  --color-signal-success-background: #{color.$colorGreen100};
  --color-signal-success-foreground: #{color.$colorGreen800};
  --color-signal-critical-background: #{color.$colorRed100};
  --color-signal-critical-foreground: #{color.$colorRed700};

  /* background */
  --color-background-body: #{color.$colorGray50};
  --color-background-surface: #{color.$colorGray100};
  --color-background-alt: #{color.$colorGray150};
  --color-background-overlay: #{color.$colorGrayA20};

  /* text */
  --color-text-primary: #{color.$colorGray900};
  --color-text-secondary: #{color.$colorGray700};
  --color-text-hint: #{color.$colorGray550};
  --color-text-disabled: #{color.$colorGray450};

  /* disabled */
  --color-disabled-foreground: #{color.$colorGray450};
  --color-disabled-background: #{color.$colorGray100};

  /* neutral */
  --color-neutral-light: #{color.$colorNeutral00};
  --color-neutral-dark: #{color.$colorNeutral1000};
}
